.super-mario {
  position: absolute;
  left: 50px;
  z-index: 1;
    width: 200px;
  }
  
  .goomba {
    position: absolute;
    z-index: 2;
    left: 140px;
    top: 350px;
    width: 100px;
  }
  
  .baloon {
    position: absolute;
    left: 500px;
  z-index: 3;
  
  }
  
  .speach {
    position: absolute;
    z-index: 4;
    left: 525px;
    top: 120px;
    font-size: 25px;
  }
  
  .bowser {
    position: absolute;
    left: 800px;
    top: 200px;
    width: 200px;
    z-index: 5;
  }